.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsix
*.vssettings


build/
bin/
Debug/
Release/
x64/
x86/


*.o
*.lo
*.pdb
*.idb
*.res
*.lib
*.exp
*.dll
*.exe
*.iobj
*.ipdb
*.rsp
*.pch
*.pchi
*.tmp
*.command
*.cmd
*.swp
*.obj
*.vsldx
*.log
*.recipe
*.ilk
*.tlog


ipch/
*.ipch


*.dt.module.json
*.dt.module.json.command


Astoroth.exe
Astoroth.pdb
Astoroth.ilk
/Astoroth.vcxproj
/Astoroth.vcxproj.filters
/Astoroth/x64/Debug/aiComponents.obj
/Astoroth/x64/Debug/aiSystem.obj
/Astoroth/x64/Debug/animationMathematics.obj
/Astoroth/x64/Debug/animationStateComponents.obj
/Astoroth/x64/Debug/animationSystem.obj
/Astoroth/x64/Debug/assetPipeline.obj
/Astoroth/x64/Debug/assetRegistry.obj
/Astoroth/x64/Debug/assetStreamer.obj
/Astoroth/x64/Debug/Astoroth.Build.CppClean.log
/Astoroth/x64/Debug/Astoroth.log
/Astoroth/x64/Debug/asyncStreaming.obj
/Astoroth/x64/Debug/audio.obj
/Astoroth/x64/Debug/audioComponents.obj
/Astoroth/x64/Debug/audioSystem.obj
/Astoroth/x64/Debug/buffer.obj
/Astoroth/x64/Debug/cache.obj
/Astoroth/x64/Debug/camera.obj
/Astoroth/x64/Debug/cameraComponents.obj
/Astoroth/x64/Debug/cameraSystem.obj
/Astoroth/x64/Debug/colliderComponents.obj
/Astoroth/x64/Debug/collision.obj
/Astoroth/x64/Debug/commandList.obj
/Astoroth/x64/Debug/componentManager.obj
/Astoroth/x64/Debug/computerShader.obj
/Astoroth/x64/Debug/coreServices.obj
/Astoroth/x64/Debug/culling.obj
/Astoroth/x64/Debug/cullingSystem.obj
/Astoroth/x64/Debug/device.obj
/Astoroth/x64/Debug/directedAcyclicGraph.obj
/Astoroth/x64/Debug/engine.h.obj.dt.module.json
/Astoroth/x64/Debug/engine.h.obj.dt.module.json.command
/Astoroth/x64/Debug/engine.obj
/Astoroth/x64/Debug/entityComponentSystem.obj
/Astoroth/x64/Debug/environmentMap.obj
/Astoroth/x64/Debug/fences.obj
/Astoroth/x64/Debug/frameGraph.obj
/Astoroth/x64/Debug/frameStack.obj
/Astoroth/x64/Debug/gpuPipeline.obj
/Astoroth/x64/Debug/guid.obj
/Astoroth/x64/Debug/healthComponents.obj
/Astoroth/x64/Debug/import.obj
/Astoroth/x64/Debug/instance.obj
/Astoroth/x64/Debug/jobSystem.obj
/Astoroth/x64/Debug/levelLoader.obj
/Astoroth/x64/Debug/lightComponents.obj
/Astoroth/x64/Debug/lighting.obj
/Astoroth/x64/Debug/loader.obj
/Astoroth/x64/Debug/lua.obj
/Astoroth/x64/Debug/main.obj
/Astoroth/x64/Debug/materialComponents.obj
/Astoroth/x64/Debug/memoruAllocator.obj
/Astoroth/x64/Debug/memoryPool.obj
/Astoroth/x64/Debug/mesh.obj
/Astoroth/x64/Debug/meshlets.obj
/Astoroth/x64/Debug/movementsSystem.obj
/Astoroth/x64/Debug/nvme.obj
/Astoroth/x64/Debug/particleLogic.obj
/Astoroth/x64/Debug/particleSystem.obj
/Astoroth/x64/Debug/physicsSystem.obj
/Astoroth/x64/Debug/platform.obj
/Astoroth/x64/Debug/raytracer.obj
/Astoroth/x64/Debug/reflections.obj
/Astoroth/x64/Debug/renderer.obj
/Astoroth/x64/Debug/renderGraph.obj
/Astoroth/x64/Debug/renderMeshComponents.obj
/Astoroth/x64/Debug/renderPrepSystem.obj
/Astoroth/x64/Debug/resourceBarriers.obj
/Astoroth/x64/Debug/sawapchain.obj
/Astoroth/x64/Debug/scene.obj
/Astoroth/x64/Debug/sceneComposer.obj
/Astoroth/x64/Debug/scriptSystem.obj
/Astoroth/x64/Debug/semaphores.obj
/Astoroth/x64/Debug/shadows.obj
/Astoroth/x64/Debug/skeletalComponents.obj
/Astoroth/x64/Debug/spir-v.obj
/Astoroth/x64/Debug/synchorinzation.obj
/Astoroth/x64/Debug/systemScheduler.obj
/Astoroth/x64/Debug/transformationMathematics.obj
/Astoroth/x64/Debug/transformComponents.obj
/Astoroth/x64/Debug/transformSystem.obj
/Astoroth/x64/Debug/vc145.idb
/Astoroth/x64/Debug/vc145.pdb
/Astoroth/x64/Debug/velocityComponents.obj
/Astoroth/x64/Debug/virtualTexturing.obj
/Astoroth/x64/Debug/window.cpp.obj.dt.d.json
/Astoroth/x64/Debug/window.cpp.obj.dt.module.json.command
/Astoroth/x64/Debug/window.h.obj.dt.d.json
/Astoroth/x64/Debug/window.h.obj.dt.module.json.command
/Astoroth/x64/Debug/window.obj
/Astoroth/x64/Debug/workThief.obj
/Astoroth/x64/Debug/Astoroth.tlog/Astoroth.lastbuildstate
/Astoroth/x64/Debug/Astoroth.tlog/CL.command.1.tlog
/Astoroth/x64/Debug/Astoroth.tlog/CL.read.1.tlog
/Astoroth/x64/Debug/Astoroth.tlog/CL.write.1.tlog
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/Astoroth.vcxproj
/Astoroth.vcxproj.filters
/CMakeCache.txt
/CMakeLists.txt
/CMakeFiles/4.3.2/CMakeCCompiler.cmake
/CMakeFiles/4.3.2/CMakeCXXCompiler.cmake
/CMakeFiles/4.3.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/4.3.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/4.3.2/CMakeRCCompiler.cmake
/CMakeFiles/4.3.2/CMakeSystem.cmake
/CMakeFiles/4.3.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/4.3.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/4.3.2/VCTargetsPath.txt
/CMakeFiles/4.3.2/VCTargetsPath.vcxproj
/CMakeFiles/cmake.check_cache
/CMakeFiles/CMakeConfigureLog.yaml
/CMakeFiles/4.3.2/CompilerIdC
/.idea
