.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsix
*.vssettings


build/
bin/
Debug/
Release/
x64/
x86/


*.o
*.lo
*.pdb
*.idb
*.res
*.lib
*.exp
*.dll
*.exe
*.iobj
*.ipdb
*.rsp
*.pch
*.pchi
*.tmp
*.command
*.cmd
*.swp
*.obj
*.vsldx
*.log
*.recipe
*.ilk
*.tlog


ipch/
*.ipch


*.dt.module.json
*.dt.module.json.command


Astoroth.exe
Astoroth.pdb
Astoroth.ilk
